<!DOCTYPE html>
<html>
	<head>
		<title>WEB700</title>
		<meta charset="UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" 
    integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="/theme.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Big+Shoulders+Stencil+Display&display=swap" rel="stylesheet">
  </head>

	<body>
		<nav class="navbar navbar-expand-lg navbar-light bg-light">
			<a class="navbar-brand" href="#">Student Name</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item"><a class="nav-link" href="/">Home</a></li>
					<li class="nav-item"><a class="nav-link" href="/about">About</a></li>
          <li class="nav-item active"><a class="nav-link" href="/htmlDemo">Html Demo</a></li>
          <li class="nav-item"><a class="nav-link" href="/employees/getform">Add Employee</a></li>
				</ul>
				<ul class="navbar-nav ml-auto">
					<li class="nav-item"><a class="nav-link" href="/employees">Employees</a></li>
					<li class="nav-item"><a class="nav-link" href="/managers">Managers</a></li>
					<li class="nav-item"><a class="nav-link" href="/departments">Departments</a></li>
				</ul>
			</div>
		</nav>

		<div class="container">
			<div class="row">
				<main class="col-md-12">



          <!-- Start your code here -->
          <h1>Welcome to Demo Html</h1>
    <h2>Employee table</h2>
    <!-- <caption >Referred from Json file</caption> -->
    <table style="width:100%"  >
        <tr>
          <th>Firstname</th>
          <th>Lastname</th>
          <th>Employee Number</th>
        </tr>
        <tr>
          <td>Foster</td>
          <td>Thorburn</td>
          <td>1</td>
        </tr>
        <tr>
          <td>Emy </td>
          <td>Trehearne</td>
          <td>2</td>
        </tr>
        <tr>
            <td>Zonya </td>
            <td>Lytham</td>
            <td>3</td>
        </tr>
        <tr>
            <td>Asia </td>
            <td>Bollon</td>
            <td>4</td>
          </tr>
          <tr>
            <td>Ysabel </td>
            <td>Collyns</td>
            <td>5</td>
          </tr>
          <tr>
            <td>Tremain </td>
            <td>Cassy</td>
            <td>6</td>
          </tr>
      </table>
      <p>
          here the table contains basic details of customer:
      </p>
      <h2>Lists:</h2>
      <ul>
        <li>Home</li>
        <li>About</li>
        <li>Html Demo</li>
        <li>Employee</li>
        <li>Employee as per department</li>
        <li>Employee as per employee Number</li>
        <li>All managers</li>
        <li>Departments</li>
        <ol>
            <li>Creative Services</li>
            <li>Human Resources</li>
            <li>Marketing</li>
            <li>Strategic Planning</li>
            <li>Accounting</li>
        </ol>
        
      </ul>
      <p>This is list of all the available pages in the website and it also contains an ordered list of departments</p>


      <h2>Images:</h2>
      <img src="./../5.jpg" alt="View">
      <br>
      <img src="../4.jpg" alt="Rock climibng">
      <br>
      <img src="../2.jpg" alt="Zip line">
      


      <h2>Audio:</h2>
      <audio controls>
        <source src="./../movie.ogg" type="audio/ogg">
        <source src="./../Track03.mp3" type="audio/mp3">
      </audio>
      <p>here is an audio track of multiple violins and pianos blending tunes.</p>

      <h2>Video:</h2>
      <video width="320" height="240" autoplay controls>
        <source src="./../movie.mp4" type="video/mp4">
        <source src="./../movie.ogg" type="video/ogg">
      </video>
      
      <p>Here is the video file shared by professor which shows a bear</p> 
					
					
					
					<!-- End your code here-->



				</main>
			</div>
		</div>

		<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    
    </body>
</html>